@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

body {
  font-family: "Inter", sans-serif;
  background: black;
}

#header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: rgba(38, 39, 43, 0.33);
  backdrop-filter: blur(15px);
}
#header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
}
#header .header--first {
  display: flex;
  align-items: start;
}
#header .header--second {
  display: flex;
  align-items: center;
}
#header .header--second input {
  border-radius: 41px;
  outline: none;
  background: none;
  color: rgba(255, 255, 255, 0.7);
  padding: 10px 40px;
}
#header .header--second ion-icon {
  color: rgba(255, 255, 255, 0.55);
  margin: 0 15px;
  position: absolute;
  left: 470px;
}
#header .header--search {
  display: flex;
  align-items: center;
}
#header .header--search h1 {
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
}
#header .header--search p {
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}
#header .header--icon ion-icon {
  color: rgba(255, 255, 255, 0.55);
  margin: 0 15px;
}
#header .header--nav a {
  font-weight: 500;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.4s;
  margin: 0 45px;
}
#header .header--icon ion-icon {
  color: rgba(255, 255, 255, 0.55);
  margin: 0 15px;
}

#hero {
  padding-top: 100px;
}
#hero .hero--text h1 {
  font-weight: 500;
  font-size: 20px;
  color: #EEB563;
  text-align: center;
  padding: 50px 0;
}
#hero .hero--text h1 img {
  margin: 0 13px;
}
#hero .hero--text-two p {
  font-weight: 500;
  font-size: 96px;
  color: #FFFFFF;
  text-align: center;
}
#hero .hero--im {
  position: absolute;
  padding-top: 190px;
  margin: -94px 1036px;
}

#photo .photo {
  padding-top: 124px;
}
#photo .photo--text {
  display: flex;
  align-items: center;
}
#photo .photo--text p {
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  color: #FFFFFF;
  width: 207px;
}
#photo .photo--second {
  margin: 0 10px;
  background: #FE7E3F;
  width: 76px;
  height: 76px;
  border-radius: 60px;
}
#photo .photo ion-icon {
  color: #C5CFDE;
  font-size: 30px;
  position: absolute;
  left: 345px;
  top: 756px;
  animation: icon 2s infinite;
}
#photo .photo--imgg {
  position: absolute;
  z-index: 1;
  left: 517px;
  top: 700px;
}
#photo .photo--imggg {
  position: relative;
  left: 570px;
  top: -50px;
}
#photo .photo--thetext img {
  position: absolute;
  top: 920px;
  left: 1050px;
}
#photo .photo--thetext p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  width: 208px;
  color: #FFFFFF;
  position: relative;
  left: 960px;
  bottom: 200px;
}

@keyframes icon {
  0% {
    transform: translateY(100px);
  }
  50% {
    color: blue;
  }
  70% {
    color: darkorange;
  }
}
#block .block--text h1 {
  font-weight: 500;
  font-size: 20px;
  color: #EEB563;
  text-align: center;
}
#block .block--text p {
  font-weight: 500;
  font-size: 32px;
  color: #FFFFFF;
  text-align: center;
}
#block .block--allimg {
  padding-top: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#block .block--im {
  margin: 0 15px;
}

#secblock .secblock {
  padding-top: 137px;
}
#secblock .secblock--text {
  font-weight: 500;
  font-size: 20px;
  color: #EEB563;
  text-align: center;
}
#secblock .secblock p {
  font-weight: 500;
  font-size: 32px;
  color: #FFFFFF;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
